@charset "utf-8";
/* *******************************************************
 * filename : content.css
 * description : 서브페이지 컨텐츠 CSS
 * date : 2020-11-25
******************************************************** */

/* ******************  서브공통 ********************** */
/* -------- 공통 스크롤바  -------- */
.custom-scrollbar-cover{display:none;}

/* -------- 공통 :: 탭 -------- */
/* Tab 공통 스타일 */
.sub-tab-wrapper-style{position:relative; height:60px; margin-bottom:15px; }
.sub-tab-list-style ul{width:100%; height:100%; text-align:center }
.sub-tab-list-style ul:after{display:none}
.sub-tab-list-style ul li{display:inline-block; vertical-align:middle; position:relative; width:24rem; height:6rem; background-color:#efefef; border-radius:50px; overflow:hidden; margin:0 4px}
.sub-tab-list-style ul li a{display:table; height:100%; width:100%; table-layout:fixed; transition:all 0.3s}
.sub-tab-list-style ul li a em{display:table-cell; vertical-align:middle; color:rgba(38,43,52,0.6); font-size:1.8rem; letter-spacing:-0.30px; text-align:center; transition:all 0.3s}
.sub-tab-list-style ul li.selected{z-index:1; }
.sub-tab-list-style ul li.selected a{background-color:#1eb9ee;}
.sub-tab-list-style ul li.selected a em{color:#fff; }
/* Tab Fixed Move*/
.sub-tab-list-style.top-fixed{position:fixed; top:70px; left:0; width:100%; height:60px;}
/* Mobile Tab Drop Menu */
.sub-drop-open-btn-style{display:none}

@media all and (min-width:1025px){
	/* Tab Fixed Background */
	.sub-tab-list-style:before{position:absolute; top:0px; bottom:0px; left:50%; width:0; content:""; background-color:#fff; border-bottom:1px solid #e5e5e5; transition:all 0.5s}
	.sub-tab-list-style.top-fixed:before{width:100%; margin-left:-50%}
}
@media all and (min-width:801px){	
	.sub-tab-list-style ul li a:hover{background-color:#1eb9ee;}
	.sub-tab-list-style ul li a:hover em{color:#fff;}
}

/* ******************  회사소개 ********************** */
/* 상단텍스트,이미지 */
.company-top{padding-top:3rem}
.company-top .top-txt{max-width:985px; margin:0 auto; display:table; width:100%; table-layout:fixed; box-sizing:border-box;}
.company-top .top-txt dt,
.company-top .top-txt dd{display:table-cell; vertical-align:middle; position:relative;}
.company-top .top-txt dt{width:26rem; font-weight:300; font-size:5.6rem; letter-spacing:-0.075rem; color:#000}
.company-top .top-txt dt b{position:relative; display:inline-block; font-weight:600; color:#1eb9ee}
.company-top .top-txt dt b:before{position:absolute; content:""; width:8.8rem; height:5.3rem; background:url(../images/content/company_txt_deco.jpg) no-repeat; background-size:contain !important; left:-4rem; top:-5rem; z-index:-1}
.company-top .top-txt dd{font-weight:400; font-size:2.4rem; letter-spacing:-0.031em; color:#222; line-height:1.96; padding-left:6%; box-sizing:border-box; position:relative;}
.company-top .top-txt dd:before{position:absolute; content:""; width:1px; height:88%; background-color:#e5e5e4; top:6%; left:0}
.company-top .top-img{margin-top:6rem; display:block}
.company-top .top-img img{max-width:100%}
/* 하단텍스트,이미지 */
.company-bt{position:relative; padding:3rem 0 4.5rem}
.company-bt .bt-txt{}
.company-bt .bt-txt p{margin-top:3rem; font-weight:400; font-size:1.8rem; letter-spacing:-0.075rem; color:#666; line-height:3.2rem}
.company-bt .bt-txt p.txt-img{text-align:right; max-width:660px}
.company-bt .bt-txt p.pd-rt{padding-right:39%}
.company-bt .bt-img{position:absolute; right:-75px; bottom:0; width:49.5%; text-align:right}
.company-bt .bt-img img{max-width:100%}


/* ******************  사업소개 ********************** */
.business-page{padding-bottom:130px}
.business-sec{margin-bottom:5rem; position:relative;}
.business-sec:last-child{margin-bottom:0}
.business-sec.rt-deco:after{position:absolute; content:""; width:31.2rem; height:42.8rem; background:url(../images/content/business_deco_bg02.png) no-repeat right top; background-size:contain !important; top:-31.5rem; right:0}
.business-sec.lf-deco:after{position:absolute; content:""; width:24.8rem; height:47.2rem; background:url(../images/content/business_deco_bg01.png) no-repeat left top; background-size:contain !important; top:0; left:0}
.business-sec .business-inner{display:flex; align-items:center; margin:0 -3.55%; position:relative; z-index:9}
.business-sec .business-inner > div{width:42.9%; margin:0 3.55%}
.business-sec .bs-slide-con{}
.business-sec .bs-slide-con .bs-img-slide{}
.business-sec .bs-slide-con .bs-img-slide li{}
.business-sec .bs-slide-con .bs-img-slide li span{position:relative; display:block; padding-top:69.3%}
.business-sec .bs-slide-con .bs-img-slide li span img{position:absolute; top:0; left:0; width:100%; height:100%; border-radius:17px}
.business-sec .bs-slide-con .bs-img-slide .slick-dots{text-align:center; margin-top:2rem}
.business-sec .bs-slide-con .bs-img-slide .slick-dots li{display:inline-block; vertical-align:top; margin-right:1rem}
.business-sec .bs-slide-con .bs-img-slide .slick-dots li:last-child{margin-right:0}
.business-sec .bs-slide-con .bs-img-slide .slick-dots li button{font-size:0; width:0.9rem; height:0.9rem; background-color:#cdcdcd; border-radius:50%; transition:all 0.3s; cursor:pointer}
.business-sec .bs-slide-con .bs-img-slide .slick-dots li.slick-active button{width:2.2rem; border-radius:50px; background-color:#f39800}
.business-sec.blue .bs-slide-con .bs-img-slide .slick-dots li.slick-active button{background-color:#00a1e9}
.business-sec .bs-txt-con{}
.business-sec .bs-txt-con dl{}
.business-sec .bs-txt-con dl dt{border-bottom:1px solid #ebebeb; padding-bottom:2rem; font-weight:700; font-size:3.8rem; letter-spacing:-0.075rem; line-height:1.25; color:#111; position:relative; padding-left:6.5rem}
.business-sec .bs-txt-con dl dt b{font-weight:800; font-size:4.8rem; color:#f39800; position:absolute; top:-7px; left:0; letter-spacing:-0.2rem}
.business-sec.blue .bs-txt-con dl dt b{color:#00a1e9}
.business-sec .bs-txt-con dl dd{padding-top:1rem}
.business-sec .bs-txt-con dl dd p{font-weight:400; font-size:1.7rem; letter-spacing:-0.075rem; line-height:3rem; color:#888; margin-top:1.5rem}


/* ****************** 포트폴리오 ********************** */
.portfolio-page .portfolio-list{margin:0 -1.5% -3%}
.portfolio-page .portfolio-list .portfolio-box{float:left; width:30.333%; margin:0 1.5% 3%}
@media all and ( min-width: 801px ){	
	.portfolio-page .portfolio-list .portfolio-box:hover{transform:scale(1.06,1.06) rotate(0.001deg) perspective(500px);}
}



/* ****************** 뉴스/이벤트 ********************** */
.news-page .news-list{margin:0 -1%}
.news-page .news-list li{float:left; width:31.333%; margin:0 1% 3%; border-radius:15px; overflow:hidden; box-shadow:5px 5px 12px -1px rgba(0,0,0,0.08)}
.news-page .news-list li a{position:relative; display:block; overflow:hidden}
.news-page .news-list li .news-img span{position:relative; display:block; padding-top:47%}
.news-page .news-list li .news-img span img{position:absolute; top:0; left:0; width:100%; height:100%}
.news-page .news-list li .news-txt{background-color:#fff; padding:6.8%}
.news-page .news-list li .news-txt .tit{display:block; font-weight:500; font-size:2.4rem; color:#000; letter-spacing:-0.075rem; line-height:1.3}
.news-page .news-list li .news-txt .date{display:block; font-weight:400; font-size:1.6rem; letter-spacing:0; color:#888; margin-top:2.5rem}



/* ****************** 채용안내 ********************** */
/* 탭스타일 */
.sub-tab-wrapper-style-02{max-width:580px; margin:0 auto; padding-top:4rem}
.sub-tab-list-style-02 ul{display:table; width:100%; height:100%; table-layout:fixed;}
.sub-tab-list-style-02 ul li{display:table-cell; vertical-align:middle; position:relative; width:20%; text-align:center}
.sub-tab-list-style-02 ul li a{height: 40px; display: flex;align-items: center; justify-content: center}
.sub-tab-list-style-02 ul li a em{position: relative; font-size:1.8rem; color:#777; letter-spacing:-0.03rem}
.sub-tab-list-style-02 ul li a em:before {content:""; position:absolute; left:50%; bottom: -4px; width:0; height:11px; background-color: #1eb9ee; opacity:0;filter:Alpha(opacity=0); transition: all 0.4s;}
/* selected */
.sub-tab-list-style-02 ul li.selected a{background-color: transparent}
.sub-tab-list-style-02 ul li.selected a em{color: #1eb9ee; font-weight: 600}
.sub-tab-list-style-02 ul li.selected a em:before {width:100%; left:0; opacity:0.1;filter:Alpha(opacity=10);}

/* 공통 스타일 */
.recruit-con-wrap{padding-top:8rem}
.front-cir-icon-tit{margin-bottom: 20px; position: relative; padding-left: 32px; font-size: 26px; font-weight: 600; color: #1eb9ee; letter-spacing: -0.5px; line-height: 1.30}
.front-cir-icon-tit i {display: flex; justify-content: center;  align-items: center; position: absolute; top: 4px; left: 0; width: 23px; height: 23px; border-radius: 100%; background-color: #1eb9ee; font-size: 15px; font-weight: 600; color: #fff}
.front-circle-icon, .front-dash-icon{position: relative; padding-left: 10px; font-size: 16px; font-weight: 400; color: #4f4f4f; letter-spacing: -0.5px; line-height: 2.0}
.front-circle-icon::before{content:""; position: absolute; top: 12px; left: 0; width: 3px; height: 3px; background-color: #4f4f4f; border-radius: 100%}
.front-dash-icon::before{content:"-"; position: absolute; top: -2px; left: 0; font-size: 16px; font-weight: 400; color: #4f4f4f; letter-spacing: -0.5px; line-height: 2.0}

/* 채용안내 공통스타일 */
.process-info-box{margin-top:5rem}
.recruit-page .front-cir-icon-tit{margin-bottom: 0; padding-bottom: 10px; border-bottom: 1px solid #4f4f4f}
.info-column-con{padding: 40px 0; border-bottom: 1px solid #ddd}
.info-column-con .info-lt-tit{float: left; width: 30.53%; padding-left: 50px; box-sizing: border-box}
.info-column-con .info-lt-tit strong{font-size: 26px; font-weight: 600; color: #4f4f4f; letter-spacing: -0.25px; line-height: 1.30}
.info-column-con .info-rt-con{float: right; width: calc(100% - 30.53%)}
/* 직무소개 */
.info-column-con .info-rt-con table{width: 100%; border-top: 2px solid #4f4f4f}
.info-column-con .info-rt-con tr{border-bottom:1px solid #e9e9e9}
.info-column-con .info-rt-con th, .info-column-con .info-rt-con td{padding: 15px 30px; box-sizing: border-box; font-size: 16px; letter-spacing: -0.5px; line-height: 1.3}
.info-column-con .info-rt-con th{width: 250px; background-color: #f6f6f6; text-align: left; font-weight: 500; color: #4f4f4f}
.info-column-con .info-rt-con td{font-weight: 400; color: #656565}
.info-column-con .info-rt-con .job-intro-info{padding: 30px 0; border-bottom:1px solid #e9e9e9; display: flex; justify-content: space-between}
.info-column-con .info-rt-con .job-intro-info .front-circle-icon::before{top: 17px}
.info-column-con .info-rt-con .job-intro-info li{position: relative; padding-left: 120px; width: 50%; font-size: 16px; font-weight: 400; color: #656565; letter-spacing: -0.5px; line-height: 1.7}
.info-column-con .info-rt-con .job-intro-info li em{position: absolute; top: -7px; left: 0; display: inline-block; margin-right: 50px; font-size: 20px; font-weight: 600; color: #4f4f4f}
.info-column-con .info-rt-con .front-circle-icon::before{top: 14px}
.intro-yikc-box{background-color: #f6f6f6; padding: 70px 0}
.intro-yikc-box .intro-tit{margin-bottom: 50px; text-align: center; font-size: 36px; font-weight: 600; color: #4f4f4f; letter-spacing: -0.5px; text-align: center}
.img-with-txt-slide-wrap{position: relative}
.img-with-txt-slide-lt-btn, .img-with-txt-slide-rt-btn{z-index: 2; position: absolute; top: 50%; transform: translateY(-50%)}
.img-with-txt-slide-lt-btn button i, .img-with-txt-slide-rt-btn button i{font-size: 32px; font-weight: 400; color: #ccc; letter-spacing: -0.5px}
.img-with-txt-slide-lt-btn{left: 0}
.img-with-txt-slide-rt-btn{right: 0}
.img-with-txt-slide-area{max-width: 1150px; margin: auto}
.img-with-txt-slide{margin: -12px; overflow: hidden;}
.img-with-txt-slide li{float: left; width: calc(25% - 24px); margin: 12px}
.img-with-txt-slide li .inner{width: 100%}
.img-with-txt-slide li .img-box{position: relative; height: 0; padding-top: 75.83%; background-repeat: no-repeat; background-size: contain}
.img-with-txt-slide li dl dt{margin: 20px 0 10px; font-size: 22px; font-weight: 500; color: #4f4f4f; letter-spacing: -0.5px; line-height: 1.54}
.img-with-txt-slide li dl dd{font-size:16px; font-weight: 400; color: #4f4f4f; letter-spacing: -0.5px; line-height: 1.8}
/* 채용절차 */
.recruit-process-box .process-list{padding: 40px 0 30px; display: flex; flex-wrap: wrap; margin: 0 -30px}
.recruit-process-box .process-list li{width: calc(25% - 60px); margin: 15px 30px}
.recruit-process-box .process-list li .inner{width: 100%}
.recruit-process-box .process-list li .process-img{position: relative; height: 0; padding-top: 80%; background-repeat: no-repeat; background-size: contain}
.recruit-process-box .process-list li:nth-child(1) .process-img{background-image: url("../images/content/process_img01.png")}
.recruit-process-box .process-list li:nth-child(2) .process-img{background-image: url("../images/content/process_img02.png")}
.recruit-process-box .process-list li:nth-child(3) .process-img{background-image: url("../images/content/process_img03.png")}
.recruit-process-box .process-list li:nth-child(4) .process-img{background-image: url("../images/content/process_img04.png")}
.recruit-process-box .process-list li dt{position: relative; margin: 15px auto 15px; max-width: 210px; height: 50px; line-height: 50px; border-radius: 50px; background-color: #eee; text-align: center; font-size: 22px; font-weight: 500; color: #353535; letter-spacing: -0.5px}
.recruit-process-box .process-list li dt::after{content:""; position: absolute; top: 18px; right: -42%; width: 0; height: 0; border-top:10px solid transparent; border-bottom:10px solid transparent; border-right: 14px solid transparent; border-left: 14px solid  #a5a5a5}
.recruit-process-box .process-list li:last-child dt::after{content: none}
.recruit-process-box .process-list li dd{text-align: center; font-size: 16px; font-weight: 400; line-height: 1.8; color: #4f4f4f; letter-spacing: -0.5px}
.center-txt-shadow-box{padding: 15px; box-shadow: 0px -5px 2px #f0f0f0; background-color: #f8f8f8; border:1px solid #d0d0d0; font-size: 16px; font-weight: 400; color: #4f4f4f; line-height: 2.1; letter-spacing: -0.5px; text-align: center}
.process-info-box .info-rt-con .none-icon{padding-left: 0}
.process-info-box .info-rt-con .none-icon::before{content: none}
.process-info-box .front-circle-icon{padding-left: 8px}
.process-info-box .front-mail-icon{position: relative; padding-left: 22px; font-size: 16px; font-weight: 400; letter-spacing: -0.25px; color: #4f4f4f}
.process-info-box .front-mail-icon::before{content:"\ea06"; font-family:'xeicon'; position: absolute; top: 0; left: 0; font-size: 16px; font-weight: 400; color: #4f4f4f}
/* 채용공고 */
.recruitment-box .recruitment-tit{margin-bottom: 50px; text-align: center; font-size: 32px; font-weight: 600; color: #4f4f4f; letter-spacing: -0.5px; text-align: center}
.recruitment-box .top-search-box{margin-bottom: 10px}
.recruitment-box .bbs-list-style02 .bbs-item .bbs-right-info-con{top: 50%; transform: translateY(-50%); background-color: #f6f6f6; font-size: 14px}
.recruitment-box .bbs-top-list-box{margin-bottom: 10px}
.recruitment-box .total-list-con{font-size: 16px}
.recruitment-box .total-list-con b{color: #1eb9ee}
.recruitment-box .bbs-list-style02 .bbs-item{margin-bottom: 10px}
.recruitment-box .bbs-list-style02 .bbs-item .bbs-list-date{display: table; width: 75px; height: 75px; text-align: center;}
.recruitment-box .bbs-list-style02 .bbs-item .state-all{background-color: #262626}
.recruitment-box .bbs-list-style02 .bbs-item .state-dead{background-color: #c2c2c2}
.recruitment-box .bbs-list-style02 .bbs-item .bbs-list-date em{display: table-cell; vertical-align: middle; font-size: 16px; font-weight: 500; color: #fff; letter-spacing: -0.25px; line-height: 1.25}
.recruitment-box .bbs-list-style02 .bbs-item .bbs-subject-box{margin: 0}
.recruitment-box .bbs-list-style02 .bbs-item .bbs-subject-txt{font-size: 19px; font-weight: 400; letter-spacing: -0.5px; line-height: 1.78; color: #4f4f44; margin-bottom: 10px}
.recruitment-box .bbs-list-style02 .bbs-item .category-tit{color: #1eb9ee; font-weight: 600}
.recruitment-box .bbs-list-style02 .category-txt{font-size: 16px; font-weight: 400; letter-spacing: -0.5px; line-height: 1.78; color: #777}
/* hover */
.recruitment-box .bbs-list-style02 .bbs-item a:hover{ border-color:#1eb9ee}
.recruitment-box .bbs-list-style02 .bbs-item a:hover .bbs-subject-txt{color:#1eb9ee}
.recruitment-box .bbs-list-style02 .bbs-item a:hover .bbs-right-info-con .bbs-more-btn{border-color:#1eb9ee; background-color:#1eb9ee; color:#fff}

