@charset "utf-8";
/* *******************************************************
 * filename : layout.css
 * description : 전체 레이아웃 CSS
 * date : 2021-06-14
******************************************************** */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap');

/* ****************** LAYOUT ********************** */
::selection {
    background: #555;   
    color: #fff;
}
::-moz-selection {
    background: #555;    
    color: #fff;
}
body, table, th, td, button, select, input, textarea {
	font-family:'Nunito','Noto Sans KR', "나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif;
	font-size:13px;
	color:#666;
	-webkit-text-size-adjust:none;
	word-break:keep-all;
}
html{font-size:62.5%}
body { background-color:#fff; }
table, th, td{word-break:break-word;}
#wrap {overflow:hidden; width:100%; min-width:320px; position:relative; }
.area{ max-width:1200px; margin:0px auto;} /* width 홈페이지 컨텐츠 가로값에 맞게 변경 */
.area-box{ max-width:1400px; margin:0px auto; }
.area-1600{ max-width:1600px; margin:0px auto; }
.area-1640{ max-width:1640px; margin:0px auto; }

/* Fullpage Layout */
.fullpage-html{overflow:hidden; height:100%;}
.fullpage-html #wrap{position:static;}

.font-noto{font-family:'Noto Sans KR', "나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif;}
.font-poppins{font-family:'Poppins','Noto Sans KR', "나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif;}


/* ****************** HEADER ********************** */
#header{
	position:relative; /* position:absolute; */ height:110px; top:0; left:0; width:100%; z-index:9999; 
}
.fullpage-html #header{
	position:fixed;
}
#headerInnerWrap{
	position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:9999; background-color:#fff; 
	-webkit-transition:background-color 0.3s;
	transition:background-color 0.3s
}
#headerInner{position:relative; height:100%; margin:0px auto; padding:0 110px; }
#header .logo{position:relative; z-index:100; float:left; padding-top:21px; }
#header .logo a{display:block; }
#header .logo img{display:block; vertical-align:top;}

/* -------- Header :: UTIL BOX -------- */
.header-util-box{position:absolute; top:0; right:110px; margin-top:27px; z-index:100;}

/* Header :: 사이트맵버튼 */
.sitemap-line-btn{width:56px; height:56px; background-color:#1eb9ee; border-radius:50%; display:block; text-align:center}
.sitemap-line-btn i{font-size:20px; color:#fff; line-height:56px; }

/* -------- Header :: GNB(PC) -------- */
.gnb-overlay-bg{position:fixed; top:0; left:0; width:100%; height:100%; visibility:hidden; opacity:0;filter:Alpha(opacity=0); background:rgba(0,0,0,0.5); z-index:9997;  -webkit-transition:all 0.3s; transition:all 0.3s; }	/* gnb overlay BG */
.gnb-overlay-bg.open{visibility:visible; opacity:1.0;filter:Alpha(opacity=100);}
#gnb{position:absolute; text-align:center; top:0; left:0px; width:100%; z-index:99;}
#gnb > ul{display:inline-block; *display:inline;*zoom:1; padding-left:10px}
#gnb > ul > li{position:relative; float:left; word-break:keep-all;}
#gnb > ul > li > a{
	position:relative; z-index:100; display:block; line-height:110px; padding:0 3.8rem; text-align:center; color:#000; font-size:1.6rem; letter-spacing:-0.046em; font-weight:400; -webkit-transition:all 0.5s; transition:all 0.5s;
}
#gnb > ul > li > a:hover,
#gnb > ul > li > a:focus,
#gnb > ul > li.on > a{color:#1eb9ee;}


/* -------- Header :: GNB(Mobile) -------- */
.nav-open-btn{display:none;}
#gnbM{display:none}

/* ****************** FOOTER ********************** */
/* Footer :: TOP버튼 */
.to-top-btn{
	position:fixed; bottom:-100px; right:3rem; display:block; width:5.5rem; height:5.5rem; background-color:#f39800; text-align:center; color:#fff; z-index:99;
	opacity:0;filter:Alpha(opacity=0);
	-webkit-transition:all 0.6s;-moz-transition:all 0.6s;-o-transition:all 0.6s;-ms-transition:all 0.6s;transition:all 0.6s
	-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%;
}
.to-top-btn.bottom-fixed{bottom:15px; opacity:1.0;filter:Alpha(opacity=100);}
.to-top-btn i{display:inline-block; font-size:1.8rem; line-height:5.5rem; transition:all 0.3s}
.to-top-btn:hover i{transform:translateY(-3px)}

/* Footer :: 레이아웃 */
#footer{background-color:#222;}
#footerInner{position:relative; }
#footerTop{padding:4.5rem 0 2rem; }
#footerBottom{border-top:1px solid rgba(255,255,255,0.1); padding:2rem 0 6rem; }
.footer-left-con{float:left; }
.footer-right-con{float:right;}

/* Footer :: 푸터로고 */
.foot-logo{display:block; padding-bottom:20px;}

/* Footer :: 정보 */
.footer-address-info-box{letter-spacing:-0.075rem;}
.footer-address-list dl{display:inline-block; vertical-align:middle; color:#fff; opacity:0.7; font-size:1.4rem; line-height:1.7; margin-right:3rem; margin-top:1.5rem}
.footer-address-list dl:last-child{margin-right:0}
.footer-address-list dl dt,
.footer-address-list dl dd{vertical-align:middle; display:inline-block; font-weight:400}
.footer-address-list dl dt{margin-right:1.3rem; min-width:2.5rem}
.footer-address-list a{color:inherit}

/* Footer :: Copyright */
.footer-copyright{font-size:1.4rem; letter-spacing:0; color:#fff; opacity:0.7}



/* ****************** SUB LAYOUT ********************** */
/*  SUB LAYOUT :: 비주얼 */
#visual{position:relative; overflow:hidden; width:100%; height:516px; }
#visual .visual-img-con{
	position:absolute; 
	top:0px; 
	left:0px; 
	width:100%;
	height:100%;
	background-size:cover !important;
    -webkit-transform: scale(1.1,1.1); 
     transform: scale(1.1,1.1);
	-webkit-transition:transform 5000ms  ease-in-out ;
    transition:transform 5000ms ease-in-out ;	
}
#visual .visual-txt-con{position:relative; z-index:1; text-align:center; display:table; width:100%; height:100%; color:#fff;}
#visual .visual-txt-container{position:relative; width:100%; }
#visual .visual-tit,
#visual .visual-sub-txt{
	opacity:0;filter:Alpha(opacity=0);
    -webkit-transform: translateY(30px); 
     transform: translateY(30px);
	-webkit-transition:opacity 1.0s, transform 1.0s;
	transition:opacity 1.0s, transform 1.0s;
}
#visual .visual-tit{	
	position:relative; padding-bottom:2.8rem;
	font-weight:600; 
	font-size:6.4rem; letter-spacing:-0.011em;
	-webkit-transition-delay:0.3s;
	transition-delay:0.3s;
}
#visual .visual-tit:after{position:absolute; content:""; width:5.8rem; height:1px; background-color:rgba(255,255,255,0.2); bottom:0; left:50%; transform:translateX(-50%)}
#visual .visual-sub-txt{
	font-size:2.6rem; 
	font-weight:800; color:rgba(255,255,255,0.6); letter-spacing:0;
	padding-top:3rem;
	-webkit-transition-delay:0.5s;
	transition-delay:0.5s;
}


/* SUB LAYOUT :: 상단효과 active */
#visual.active .visual-img-con{
    -webkit-transform: scale(1.0,1.0) rotate(0.002deg);
     transform: scale(1.0,1.0) rotate(0.002deg);
}
#visual.active .visual-tit,
#visual.active .visual-sub-txt,
#visual.active .location{
	opacity:1.0;filter:Alpha(opacity=100);
    -webkit-transform: translateY(0px); 
     transform: translateY(0px);
}

/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
#content:not(.wide){padding:130px 0}
#content.wide{padding:130px 0 0 0}

/*  SUB LAYOUT :: 상단정보 (공통) */
#contentInfoCon{position:relative; margin:0 auto 100px; text-align:center; }
#contentInfoCon .content-tit{position:relative; display:inline-block; text-transform:uppercase; color:#000; font-size:6.2rem; font-weight:800; letter-spacing:0;}
#contentInfoCon .content-tit:after{position:absolute; content:""; width:6.7rem; height:9.6rem; background:url(/images/main/main_tit_deco.png) no-repeat; background-size:contain !important; right:-8.5rem; bottom:1.1rem}

/* ****************** MODAL LAYERPOPUP ********************** */
/* modal layer */
.modal-fixed-pop-wrapper{display:none; overflow-y:scroll; overflow-x:hidden;  position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9999; background:#000; background:rgba(0,0,0,0.8);}
.modal-fixed-pop-inner{position:absolute; display:table; width:100%; height:100%; text-align:center;}
.modal-inner-box{ position:relative; display:table-cell; vertical-align:middle;}
.modal-loading{position:absolute; top:50%; left:50%; margin:-25px 0 0 -25px; z-index:10000;}
.modal-inner-content{text-align:left;}
.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 8px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg);  }
}
/* modal layer content */
.footer-modal-content{position:relative; width:96%; max-width:1000px; margin:20px auto; }
.footer-modal-content h1{font-size:24px; font-weight:600; letter-spacing:-0.5px; text-align:center; padding:0 50px 20px; color:#fff;}
.modal-close-btn{position:absolute; top:-6px; right:-6px; color:#fff; }
.modal-close-btn i{font-size:38px;}
.modal-close-btn i:hover {color:#fff}
.footer-inner-box{padding:30px; background-color:#fff; }
.footer-inner{padding:20px; height:400px; overflow-y:auto; overflow-x:hidden; border:1px solid #ddd; }

/* ****************** 사이트맵 ********************** */
/* -------- 사이트맵 03 -------- */
/* 사이트맵 03 :: Layout */
#sitemapContent03{	
	position:fixed; 
	top:0; left:0; right:0; bottom:0; 
	z-index:-1;
	 opacity:0;filter:Alpha(opacity=0); 
	visibility:hidden;   
	-webkit-transition:all 0s 1s;
	transition:all 0s  1s;
}
#sitemapInnerCon{position:absolute; top:0; left:0; bottom:0; right:0 }
#sitemapContent03 .sitemap-bg-box{position:absolute; width:56px; height:56px; opacity:0; border-radius:50%; top:27px; right:110px; transition:transform 0.8s cubic-bezier(0.25, 0.1, 0.07, 0.82) 0.3s, opacity 0.3s 0.95s; background-color:#1eb9ee; transform:scale(1.0,1.0)}
#sitemapContent03 .sitemap-close-btn{position:absolute; top:27px; right:110px; width:56px; height:56px; text-align:center; opacity:0; transition:0.3s}
#sitemapContent03 .sitemap-close-btn i{font-size:20px; color:#fff; line-height:56px}

/* 사이트맵 02 :: 메뉴리스트 */
.sitemap-wrapper-style03{height:100%; }
.sitemap-wrapper-style03 > ul{overflow:hidden; position:relative; z-index:1; top:50%; transform:translateY(-50%)}
.sitemap-wrapper-style03 > ul > li {
    overflow:hidden; text-align:center; margin:2% 0;
	opacity: 0;
    -webkit-transform: scale(0.8) translate3d(0, 80%, 0);
    transform: scale(0.8) translate3d(0, 80%, 0);
    transition: opacity .3s ease 0s, transform .6s ease 0s, -webkit-transform .6s ease 0s;
    will-change: opacity, transform
}

.sitemap-wrapper-style03 > ul > li > a{position:relative; display:inline-block; color:#fff; font-size:2.7em; font-weight:600; }
.sitemap-wrapper-style03 > ul > li > a:before{
	position:absolute; bottom:0px; right:0; height:10px; width:0; content:""; background-color:rgba(255,255,255,0.3);
	transition: width .4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.sitemap-wrapper-style03 > ul > li > a:hover:before{left: 0; width: 100%;}
.sitemap-wrapper-style03 > ul > li > a span{position:relative;}

/* 사이트맵 open */
#sitemapContent03.open{
	opacity:1.0;filter:Alpha(opacity=100); 
	visibility:visible; 
	-webkit-transition:all 0s 0s; 
	transition:all 0s 0s;
	z-index:99999; 
}
#sitemapContent03.open .sitemap-bg-box{transform:scale(100,100); opacity:1; transition-delay:0s}
#sitemapContent03.open .visual-intro-item:before{height:100%;}
#sitemapContent03.open .visual-intro-item:after {width:0;}
#sitemapContent03.open .visual-intro-item {
	-webkit-transform: scaleX(1);
	transform: scaleX(1); 
	transform-origin:right top; 
	transition-property: transform;
}
#sitemapContent03.open .sitemap-wrapper-style03 > ul > li {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0)
}
#sitemapContent03.open .sitemap-wrapper-style03 > ul > li:nth-child(1) {transition-delay: .7s}
#sitemapContent03.open .sitemap-wrapper-style03 > ul > li:nth-child(2) {transition-delay: 0.75s}
#sitemapContent03.open .sitemap-wrapper-style03 > ul > li:nth-child(3) {transition-delay: 0.8s}
#sitemapContent03.open .sitemap-wrapper-style03 > ul > li:nth-child(4) {transition-delay: 0.85s}
#sitemapContent03.open .sitemap-wrapper-style03 > ul > li:nth-child(5) {transition-delay: 0.9s}
#sitemapContent03.open .sitemap-wrapper-style03 > ul > li:nth-child(6) {transition-delay: 0.95s}
#sitemapContent03.open .sitemap-close-btn{opacity:1; transition:0s}